/node_modules
/dist
/build
/.nx
/.nx/cache
/.nx/workspace-data
/coverage
/storybook-static
/pnpm-lock.yaml
*.min.js
*.min.css
*.bundle.js
*.bundle.css
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
